In [1]:
import pandas as pd
import numpy as np

## construct list and ndarray

In [7]:
t1=[100,22,434,556]
a1=np.array(t1)
print(t1)
print(a1)

[100, 22, 434, 556]
[100  22 434 556]

## generate series

In [4]:
data_1=pd.Series(t1)
print(data_1)

0    100
1     22
2    434
3    556
dtype: int64

In [8]:
data_2=pd.Series(a1)
print(data_2)

0    100
1     22
2    434
3    556
dtype: int64

In [6]:
data_1.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data_1.values

array([100,  22, 434, 556])

In [8]:
print(type(data_1.values))

<class 'numpy.ndarray'>

In [3]:
data_3=pd.Series(t1,index=['a','b','c','d'])
print(data_3)

a    100
b     22
c    434
d    556
dtype: int64

In [4]:
data_3.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
print(type(data_3.index))

<class 'pandas.core.indexes.base.Index'>

## construct a series from Python dictionary:

In [12]:
student_Score={'john':90,'peter':80.3,'mary':95}

In [15]:
exam=pd.Series(student_Score)
print(exam)

john     90.0
mary     95.0
peter    80.3
dtype: float64

## a single column dataframe

In [17]:
pd.DataFrame({'exam score':exam})

       exam score
john         90.0
mary         95.0
peter        80.3

In [21]:
student_hk={'john':'A','peter':'A','mary':'B'}
hk=pd.Series(student_hk)

In [24]:
students=pd.DataFrame({'exam score':exam, 'hk score':hk})
print(students)

       exam score hk score
john         90.0        A
mary         95.0        B
peter        80.3        A