## Create a DatataFrame from a list of dicts

In [2]:
import pandas as pd

In [3]:
dfmm=pd.DataFrame( [ {'key':'A','data':1} , 
                     {'key':'B','data':2} ,
                     {'key':'C','data':3} ,                       
                     {'key':'A','data':4} ,
                     {'key':'B', 'data':5},
                     {'key':'C','data':6}
                   ]  
                 )

In [4]:
print(dfmm)

   data key
0     1   A
1     2   B
2     3   C
3     4   A
4     5   B
5     6   C

In [5]:
dfmm.groupby('key').sum()

     data
key
A       5
B       7
C       9

In [6]:
dfmm.groupby('key').count()

     data
key
A       2
B       2
C       2