In [1]:
import pandas as pd
import numpy as np

## t1 is a list
## a1 is a NumPy array

In [2]:
t1=[100,22,434,556]
a1=np.array(t1)
print(t1)
print(a1)

[100, 22, 434, 556]
[100  22 434 556]

## create a Series from list

In [3]:
data_1=pd.Series(t1)
print(data_1)

0    100
1     22
2    434
3    556
dtype: int64

## create a Series from array

In [4]:
data_2=pd.Series(a1)
print(data_1)

0    100
1     22
2    434
3    556
dtype: int64

## the index need not be an integer

In [5]:
data_3=pd.Series(t1,index=['a','b','c','d'])
print(data_3)

a    100
b     22
c    434
d    556
dtype: int64

## creat a student grade series

In [7]:
students=['John','Mary','susan','Peter','Lin']
Grade=[90,60,70,100,95]
data_4 = pd.Series(Grade,index=students)
print(data1_series)
print(type(data1_series))
print(data1_series[0])
print(data1_series[3])
print(data1_series['susan'])

John      90
Mary      60
susan     70
Peter    100
Lin       95
dtype: int64
<class 'pandas.core.series.Series'>
90
100
70

In [8]:
data_4[0]

90

In [9]:
data_4[3]

100

In [10]:
data_4['susan']

70

## Create DataFrame from Series

In [17]:
students=['John','Mary','susan','Peter','Lin']
Grade=[90,60,70,100,95]
midterm_series = pd.Series(Grade,index=students)

In [13]:
hk1=['A','B','A','C','A']
hk1_series=pd.Series(hk1,students)

In [15]:
hk2=['A','A','A','B','A']
hk2_series=pd.Series(hk2,students)

In [18]:
pd1=pd.DataFrame({'Midterm':midterm_series, 'Hk1':hk1_series,
                 'HK2':hk2_series})

In [19]:
print(pd1)

      HK2 Hk1  Midterm
John    A   A       90
Mary    A   B       60
susan   A   A       70
Peter   B   C      100
Lin     A   A       95

In [20]:
pd1[:3]

      HK2 Hk1  Midterm
John    A   A       90
Mary    A   B       60
susan   A   A       70

In [21]:
pd1[0:3]

      HK2 Hk1  Midterm
John    A   A       90
Mary    A   B       60
susan   A   A       70

In [22]:
pd1.iloc[:2,:2]

     HK2 Hk1
John   A   A
Mary   A   B

In [23]:
pd1['Hk1']

John     A
Mary     B
susan    A
Peter    C
Lin      A
Name: Hk1, dtype: object