# 3/21 will talk about Function, including 
## flow of execution
## paramenter and argumet
## function definition
## one function can call another
## one function can call itself  (recursion)

In [1]:
log10(1000)

NameError: name 'log10' is not defined

In [4]:
import math

## after import math, a lot of math functions can be used

In [5]:
math.log10(1000)

3.0

In [6]:
type(math)

module

In [7]:
ee=math.exp(1)
print(ee)

2.718281828459045

In [8]:
math.sqrt(64)

8.0

## define a function

In [9]:
def print_twice(apple):
    print(apple)
    print(apple)
    print(print_twice.__name__)

In [42]:
type(print_twice)

function

## call a function

In [11]:
print_twice('cat')

cat
cat
print_twice

In [12]:
print_twice(3.5)

3.5
3.5
print_twice

## define another function

In [13]:
def cat_twice(part1,part2):
    cat=part1+part2
    print_twice(cat)

In [43]:
type(cat_twice)

function

In [14]:
cat_twice('aaa','bbb')

aaabbb
aaabbb
print_twice

In [15]:
cat_twice(5,6)

11
11
print_twice

# Flow of execution :

In [16]:
def cat_twice(part1,part2):
    print("entering cat_twice")
    cat=part1+part2
    # call function : print_twice
    print_twice(cat)
    print("leaving cat_twice")

In [17]:
def print_twice(apple):
    print("entering print_twice")
    print(apple)
    print(apple)
    print(print_twice.__name__)
    print("leaving print_twice")

In [18]:
print("program begin here !")
#  call  function : cat_twice
cat_twice('aaaa','bbbbb')
print("prgram ends !!!  bye ")

program begin here !
entering cat_twice
entering print_twice
aaaabbbbb
aaaabbbbb
print_twice
leaving print_twice
leaving cat_twice
prgram ends !!!  bye

## keyword argument

In [35]:
def test1(a,b,c):
    mixall=a-b+c
    print(mixall)

In [36]:
test1(1,2,3)

2

In [37]:
test1(a=1,c=3,b=2)

2

In [38]:
test1(a=1,c=3,b=6)

-2

In [39]:
test1(1,3,6)

4

In [40]:
test1(2,3)

TypeError: test1() missing 1 required positional argument: 'c'

## default parameter

In [31]:
def test2(a,b,c=5):
    mixall=a-b+c
    print(mixall)

In [41]:
test2(2,3)

4

In [32]:
test2(1,2,3)

2

In [33]:
test2(1,3,6)

4

In [34]:
test2(a=1,c=3,b=6)

-2

# A boolean expression is an expression that is either true or false. 
## 5 relational operators
##   x != y 
##   x > y 
##   x < y
##   x >= y
##   x <= y

In [1]:
5==5

True

In [2]:
5==6

False

In [3]:
5 != 3

True

# conditional execution : if

In [1]:
x=1
if x==1:
    print("x is",1)
else:
    print("other")

x is 1

In [4]:
def  func_test(n,s):
    if n==0:
        print(s)
    else:
        print("n not zero")
        n=n-1
        print(n)

In [5]:
func_test(3,'1--')

n not zero
2

In [6]:
func_test(0,'rrr')

rrr

# chained conditionals

In [8]:
def test(x,y):
    if x<y:
        print('x<y')
    elif x>y:
        print('x>y')
    else:
        print('x eaual y')

In [9]:
test(3,2)

x>y

In [10]:
test(3.2,3.2)

x eaual y

In [14]:
def string_TEST(t):
    if len(t)>=3:
        print("t=",t)
    else:
        print("too long")
        print("aa")
        print("bb")

In [16]:
string_TEST("22")

too long
aa
bb

In [17]:
string_TEST("AAAAAA")

t= AAAAAA

# recursion

In [12]:
def countdown(n):
    if n<0 : 
        print("AAAAAA")
    else:
        print(n)
        countdown(n-1)

In [13]:
countdown(5)

5
4
3
2
1
0
AAAAAA