In [1]:
import pandas as pd
import numpy as np

In [2]:
t1=[100,22,434,556]
a1=np.array(t1)
print(t1)
print(a1)

[100, 22, 434, 556]
[100  22 434 556]

In [4]:
data_1=pd.Series(t1)
print(data_1)

0    100
1     22
2    434
3    556
dtype: int64

In [5]:
data_2=pd.Series(a1)
print(data_1)

0    100
1     22
2    434
3    556
dtype: int64

In [6]:
data_1.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data_1.values

array([100,  22, 434, 556])

In [8]:
print(type(data_1.values))

<class 'numpy.ndarray'>

In [9]:
data_3=pd.Series(t1,index=['a','b','c','d'])
print(data_3)

a    100
b     22
c    434
d    556
dtype: int64

In [10]:
data_3.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
print(type(data_3.index))

<class 'pandas.core.indexes.base.Index'>