## Create a DatataFrame from a list of dicts

In [3]:
import pandas as pd

In [4]:
dfmm=pd.DataFrame( [ {'key':'A', 'data':1, 'price':80} , 
                     {'key':'B', 'data':2, 'price':50} ,
                     {'key':'C', 'data':3, 'price':90} ,                       
                     {'key':'A', 'data':4, 'price':80} ,
                     {'key':'B', 'data':5, 'price':70},
                     {'key':'C', 'data':6, 'price':70},
                   ]  
                 )

In [5]:
print(dfmm)

   data key  price
0     1   A     80
1     2   B     50
2     3   C     90
3     4   A     80
4     5   B     70
5     6   C     70

In [10]:
dd=pd.date_range('2018-09-01','2018-09-3')
ii=pd.DatetimeIndex(['2019-01-04','2019-02-04','2019-12-04'])
dd=dd.append(ii)
print(dd)

DatetimeIndex(['2018-09-01', '2018-09-02', '2018-09-03', '2019-01-04',
               '2019-02-04', '2019-12-04'],
              dtype='datetime64[ns]', freq=None)

In [11]:
print(type(dd))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [12]:
dfmm.index

RangeIndex(start=0, stop=6, step=1)

## replace original index with time-index

In [13]:
dfmm.index=dd
print(dfmm)

            data key  price
2018-09-01     1   A     80
2018-09-02     2   B     50
2018-09-03     3   C     90
2019-01-04     4   A     80
2019-02-04     5   B     70
2019-12-04     6   C     70

## GroupBy:     Split,  apply , combine

In [14]:
dfmm.index.month

Int64Index([9, 9, 9, 1, 2, 12], dtype='int64')

In [18]:
dfmm.groupby(dfmm.index.month).count()

    data  key  price
1      1    1      1
2      1    1      1
9      3    3      3
12     1    1      1

In [19]:
dfmm.groupby('key').sum()

     data  price
key
A       5    160
B       7    120
C       9    160

In [20]:
dfmm.groupby('key').mean()

     data  price
key
A     2.5   80.0
B     3.5   60.0
C     4.5   80.0

In [21]:
dfmm.groupby('key').count()

     data  price
key
A       2      2
B       2      2
C       2      2